body {
  color: black;
}
h1 {
  text-align: center;
  color: brown;
}
.all {
  color: black;
}
h2 {
  text-align: center;
  margin: 0 auto;
}
.hosting {
  text-align: center;
  margin: 0 auto;
  font-size: x-large;
  font-family: "Times New Roman", Times, serif;
  padding-top: 200px;
}
